<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Adieu" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="relative top-0 left-0 right-0 w-full border-b-gray-500" data-controller="navbar">
      <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 w-full">
        <div class="relative flex h-16 items-center justify-between">
          <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
            <button type="button" command="--toggle" commandfor="mobile-menu" data-action="click->navbar#toggleMenu" class="relative inline-flex items-center justify-center rounded-md p-2 dark:text-gray-400 dark:hover:text-white">
              <span class="absolute -inset-0.5"></span>
              <span class="sr-only">Open main menu</span>
              <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 in-aria-expanded:hidden">
                <path d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
              <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 not-in-aria-expanded:hidden">
                <path d="M6 18 18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </button>
          </div>
          <div class="flex flex-1 items-center">
            <div class="flex shrink-0 items-center">
              <%= link_to 'Adieu', root_path %>
            </div>
            <div class="hidden sm:ml-auto sm:block">
              <div class="flex space-x-4">
                <% if authenticated? %>
                    <%= link_to 'Ad Listings', '/ads', class: 'rounded-md px-3 py-2 text-sm font-medium dark:text-gray-300 dark:hover:text-white' %>
                    <%= link_to 'Dashboard', '/dashboard', class: 'rounded-md px-3 py-2 text-sm font-medium dark:text-gray-300 dark:hover:text-white' %>
                    <%= button_to 'Log out', session_path, method: :delete, class: 'rounded-md px-3 py-2 text-sm font-medium dark:text-gray-300 dark:hover:text-white' if authenticated? %>
                <% else %>
                    <%= link_to 'Site Owners', '#', class: 'rounded-md px-3 py-2 text-sm font-medium dark:text-gray-300 dark:hover:text-white' %>
                    <%= link_to 'Advertisers', '#', class: 'rounded-md px-3 py-2 text-sm font-medium dark:text-gray-300 dark:hover:text-white' %>
                    <%= link_to 'Consumers', '#', class: 'rounded-md px-3 py-2 text-sm font-medium dark:text-gray-300 dark:hover:text-white' %>
                    <%= link_to 'Developers', '#', class: 'rounded-md px-3 py-2 text-sm font-medium dark:text-gray-300 dark:hover:text-white' %>
                    <%= link_to 'Sign up', new_session_path, class: 'rounded-md px-3 py-2 text-sm font-medium dark:text-gray-300 dark:hover:text-white' unless authenticated? %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="mobile-menu" data-navbar-target="menu" hidden class="block sm:hidden">
        <div class="space-y-1 px-2 pt-2 pb-3">
          <% if authenticated? %>
              <%= link_to 'Ad Listings', '/ads', class: 'rounded-md px-3 py-2 text-sm font-medium dark:text-gray-300 dark:hover:text-white' %>
              <%= link_to 'Dashboard', '/dashboard', class: 'rounded-md px-3 py-2 text-sm font-medium dark:text-gray-300 dark:hover:text-white' %>
              <%= button_to 'Log out', session_path, method: :delete, class: 'rounded-md px-3 py-2 text-sm font-medium dark:text-gray-300 dark:hover:text-white' if authenticated? %>
          <% else %>
              <%= link_to 'Site Owners', '#', class: 'rounded-md px-3 py-2 text-sm font-medium dark:text-gray-300 dark:hover:text-white' %>
              <%= link_to 'Advertisers', '#', class: 'rounded-md px-3 py-2 text-sm font-medium dark:text-gray-300 dark:hover:text-white' %>
              <%= link_to 'Consumers', '#', class: 'rounded-md px-3 py-2 text-sm font-medium dark:text-gray-300 dark:hover:text-white' %>
              <%= link_to 'Developers', '#', class: 'rounded-md px-3 py-2 text-sm font-medium dark:text-gray-300 dark:hover:text-white' %>
              <%= link_to 'Sign up', new_session_path, class: 'rounded-md px-3 py-2 text-sm font-medium dark:text-gray-300 dark:hover:text-white' unless authenticated? %>
          <% end %>
        </div>
      </div>
    </nav>
    <main class="container flex bg-white">
      <div><%= yield %></div>
    </main>
  </body>
</html>
